@model IEnumerable<Berg_Book_House.Models.Book>
@{
    ViewBag.Title = "ListOfBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @Html.ActionLink("Add a New Book", "New", new { controller = "Books"}, new { @class = "btn btn-info" })
</div>




<div>

    <h2>List Of Books</h2>
    <table class="table table-bordered">
        <thead>
            <tr class="table-info">
                <th scope="col">#</th>
                <th scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Catogory</th>
            </tr>
        </thead>

        <tbody>

            @{
                int i = 1;
            }


            @foreach (var book in Model)
            {
                <tr>
                    <th scope="row">@i</th>

                    <td>
                        @{
                            var base64 = Convert.ToBase64String(book.CoverPhoto);

                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                            <img src='@imgsrc' style="width: 100px; height: 130px">
                        }
                    </td>

                    @*<td>@book.Name</td>*@

                    <td>
                        @Html.ActionLink(book.Name, "Edit", "Books", new { id = book.BookId}, null)
                    </td>

                    <td>@book.Author</td>

                    <td>@book.Category.Name</td>
                </tr>


                i++;
            }

        </tbody>

    </table>

</div>
